node_modules
.pnpm-store
.next
dist
build
.turbo
.cache
coverage
test-results
pnpm-lock.yaml
apps/**/.next
apps/**/dist
apps/**/build
apps/**/test-results
apps/**/node_modules
packages/**/node_modules
packages/**/dist
packages/**/build
*.md
SECURITY.md
LICENSE
apps/web/src/gql/**
